* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    background: blue;
    flex-wrap: wrap;
    flex-direction: column;
}

img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:300px;
    height:300x;
    margin: 5px;
    background: white;
    border: 5px solid black;
}

.authors img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:50px;
    margin: none;
    height:50px;
    border: none;
    background: purple;
}   

ul {
    display: flex; 
    background: yellow;
    flex-wrap: wrap;
    flex-direction: row; 
    list-style: none;
}

li .authors {
    display: flex; 
    background: brown; 
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
}

.image-caption {
    padding-left: 3
    px; padding-right: 3px; 
    background: orange;
}

.image-number ::before{ content: "#";
}

div .image-footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 50px; 
    border-bottom: 5px;
    justify-content: space-between;
    background: pink;
}

.authors li{
    display: flex;
}

.authors {
    display: flex;
}